<footer id="footer">
<p>Joshua Hayes &copy; 2022 | This is a project for CSC 317 @ San Francisco State University
    <br>
    <a href='https://www.freepik.com/photos/floor-background'>Floor background photo created by rawpixel.com - www.freepik.com</a>
</p>
</footer>