 <div class="main-content" id="form-page-container"  >
        <form class="mt-5" id="login-form" action="/users/login" method="post"
              enctype="application/x-www-form-urlencoded">

            <h1>Login</h1>

            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required/>
            </div>

            <div class="mb-4">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="text" id="password" name="password" required/>
                <a class="mt-4" href="#">Forgot password?</a>
            </div>

            <div class="row gap-2 mb-3">
                <input class="col btn-lg btn-primary mb-4" type="submit" value="Login">
                <input class="col btn-lg btn-light mb-4" type="reset" value="Clear">
            </div>

            <div class="mb-3">
                Don't have an account? <a href="/register">Create One</a>
            </div>

        </form>
</div>
