<div class="site-content">
    <header class="site-header">
        <h1>Login Form</h1>
    </header>

    <form class="col" id="login-form" action="">

        <div class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" type="text" id="username" required/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" required/>
        </div>


        <div class="col">
            <div id="login-buttons">
                <input class="btn btn-primary btn-block mb-4" type="submit" value="Login">
                <input class="btn btn-primary btn-block mb-4" type="reset" value="Clear">
            </div>
        </div>
    </form>
</div>