<div class="container">

<div class="site-content">
    <form class="mt-5" id="register-form" onsubmit="" action="">
        <h1>Register</h1>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="text" id="email" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password-confirm">Confirm Password</label>
            <input type="password" id="password-confirm" class="form-control"/>
        </div>


        <div class="col mb-4">
            <div class="row d-flex justify-content-left">
                <div class="form-check form-switch">
                    <input class="form-check-input" id="age-verify" type="checkbox">
                    <label class="form-check-label" for="age-verify">I verify that I am over the age of 13</label>
                </div>
            </div>
                <div class="row d-flex justify-content-center">
                    <div class="form-check form-switch">
                    <input class="form-check-input" id="TosPrivacy" type="checkbox">
                    <label class="form-check-label" for="TosPrivacy">I agree to the <a href="">TOS</a> and <a href="">Privacy Rules</a></label>
                </div>
            </div>
        </div>

        <input class="btn btn-primary btn-block mb-4" type="submit" value="Register">
    </form>
</div>
</div>
