
body {
    /*background: url("../5619919.jpg"),no-repeat;*/
    /*background-size: cover;*/
    background-color: #8312A5;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.container{
    display: grid;
    height: 100vh;
    margin: auto;
    grid-template-rows: 1fr .5fr 5fr .3fr;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
            "banner banner banner banner"
            "nav nav nav nav"
            "content content content content"
            "footer footer footer footer";

}

a {
    color: #003e54;
    font-size: 16px;
    /*float:right;*/
}



#nav-bar {
    grid-area: nav ;
    margin: 8px 0 0 0;
    padding: 10px 15px 10px 15px;
    background: linear-gradient(15deg, #8312A5 0%, #0037A5 100%);
    border: solid black;
    border-radius: 5px;
}

#login-form, #register-form,#post-form {
    margin: 10px auto 10px auto;
    background: slategray;
    border: solid white;
    color: #003e54;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    width: 450px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 35px;
}
form > h1{
    text-align: center;
}

#banner{
    color: gold;
    grid-area: banner ;
    font-size: 320px;
    opacity: 70%;
    margin: auto;
}
/*#site-content{*/
/*    grid-area: content;*/
/*}*/
.card{
    background: lightcyan;
    border: 1px solid white;
    /*padding: 30px;*/
    /*margin: auto;*/
}
.card-image{
    margin: auto;
}
.card-title{

}
.card-text{

}
.card-body{
    background: cadetblue;
    color: white;
    max-height: 30%;
}

#footer{
    grid-area: footer;
    opacity: 75%;
    color: white;
    background: black;
    margin-top: 5px;
    /*background: linear-gradient(15deg, #8312A5 0%, #0037A5 100%);*/
    padding-top: 15px;
    text-align: center;
}
#index-container{
    grid-area: content;
    display: grid;
    margin-top: 5px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    gap: .25rem;
}

#form-page-container{
    grid-area: content;
    display: grid;
    grid-auto-rows: 1fr;
}

.search{
    padding-top: 10px;
    padding-left: 5px;
    color: white;
}
#search-button:hover, #logout-button:hover{
    cursor: pointer;
}

#flash-message{
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
    z-index: 9000;
}

#flash-message > div{
    text-align: center;
}

#post-container{
    grid-area: content;
    padding-top: .35rem;
    padding-bottom: .35rem;
    margin-bottom: 5px;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "photoinfo comments";


}
#post-info{
    border: 1px solid white;
    display: inline-block;
    vertical-align: middle;
}

#photo-container{
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    justify-self: center;
    flex-wrap: nowrap;
    grid-area: photoinfo;
    color: ghostwhite;
    height: 80vh;
}

#post-info{
    display: inline-block;
    vertical-align: middle;
}
#post-img{
    border: 1px solid white;
    max-width: 66%;
    max-height: 90%;
}
#post-description{
}

.form-container{
    margin: auto;
    justify-self: center;
}

#comment-area{
    display: grid;
    justify-self: stretch;
    grid-area: comments;
    grid-template-rows: 2fr 75px;
    /*grid-template-columns: 1fr;*/
    gap: .2rem;
    grid-template-areas:
    "messages"
    "comments-box";
    margin-right: 15px;
}
#comment-button, #disabled-text-comment-button{
    padding: .25rem;
    margin: .25rem;
    line-height: 2;
    border: .0625rem solid white;
    border-radius: .35rem;
    cursor: pointer;
}

#comment-button:hover{
    background-color: #5eac74;
}

#comments-box-text, #disabled-text-comments-box{
    flex-grow: 1;
    padding: .25rem;
    margin: .25rem;
    border: .0625rem solid white;
    border-radius: .35rem;
    resize: none;
}

#disabled-text-comments-box{
    background-color: white;
}
div[post-container] > div[id^=post-]{
    flex-grow: 0;
    flex-shrink: 1;
}

div[post-container] > img[id^=post-]{
    flex-grow: 1;
    flex-shrink: 1;
}

div[id^=message-]{
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .2em;
    padding: .5rem;
    margin: .25rem;
    font-size: 1rem;
    grid-template-areas: "author created"
                        "comment comment";
}
.author-text{
    grid-area: author;
    color: red;
}
.date-posted{
    grid-area: created;
    text-align: end;
    justify-self: end;
}
.comment-text{
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
    min-height: 50px;
}
#comments-box, #disabled-comments-box{
    padding: .2rem;
    display: flex;
    grid-area: comments-box;
    border-radius: .35rem;
    border: 1px solid white;
}
#disabled-comments-box{
    color: white
}
#messages{
    grid-area: messages;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    box-shadow: -2px 2px 4px 4px grey;
    border-radius: .35rem;
    scroll-behavior: smooth;

}
